.banner {
  height: 220px;
  background: center / contain no-repeat
    url('../../assets/eric-muhr-P_XxsdVgtpQ-unsplash.jpg');
  background-size: 100%;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f6f6f6;
  margin: 70px 100px 45px;
  border-radius: 25px;
}

.banner h1 {
  font-size: 48px;
}
