@media only screen and (min-width: 769px) and (max-width: 1279px) {
}

@media only screen and (min-width: 1280px) {
  .carousel {
    position: relative;
    height: 465px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 100px 30px;
  }
  .picture {
    width: 100%;
    height: 415px;
    object-fit: cover;
    border-radius: 25px;
  }
  .next-arrow,
  .previous-arrow {
    position: absolute;
    top: calc(50%-40px);
    z-index: 5;
    cursor: pointer;
    user-select: none;
    color: white;
    font-size: 5em;
  }
  .next-arrow {
    right: 20px;
  }
  .previous-arrow {
    left: 20px;
  }
  .slide {
    opacity: 0;
    transition-duration: 1.5s ease;
  }
  .slide.active {
    opacity: 1;
    transition-duration: 1.5s;
    transform: scale(1.08);
    height: 415px;
    position: absolute;
    left: 65px;
    right: 65px;
  }
  .bullet {
    position: absolute;
    bottom: 25px;
    left: 50%;
    color: white;
    font-size: 18px;
  }
  .none {
    display: none;
  }
}
