.salmon {
  color: #ff6060;
}

.grey {
  color: #e3e3e3;
}

@media only screen and (min-width: 769px) and (max-width: 1279px) {
}

@media only screen and (min-width: 1280px) {
  .stars .fa-star {
    font-size: 30px;
    margin-left: 10px;
  }
}
